services:
  - type: web
    name: vigdi
    env: python
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate
      python manage.py shell -c "from accounts.models import User; User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'chelanthony05@gmail.com', '1he cro3n')"
    startCommand: gunicorn videgrenier_cm.wsgi:application --bind 0.0.0.0:$PORT --workers 2

databases:
  - name: vigdi_db
    plan: free